html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden !important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.shadow {
  box-shadow: 0 0 3px 1px rgb(128 128 128 / 30%);
  border-radius: 20px;
  background-color: white;
}
.shadow-half {
  box-shadow: 0 0 3px 1px rgb(128 128 128 / 30%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
}

//base input

.base-input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  &-search {
    background-color: #00a050;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    padding: 5px 35px 5px 20px;
    border: none;
    color: white;
  }
}

//base btn
.mbf-btn {
  margin-right: 10px;
  width: 120px;
  &-active {
    background-color: white;
    color: #1894ff;
    border: 1px solid #1894ff;
  }
  &-create {
    background-color: white;
    color: #00a050;
    border: 1px solid #00a050;
  }
  &-save {
    background-color: #1894ff;
    color: white;
  }
  &-cancel {
    background-color: #d6d6d6;
    color: white;
    border: 1px solid #707070;
  }
}
